html, body {
	height: 100%;
  }
  
  html {
	background: #eee;
  }
  
  body {
	display: flex;
	justify-content: right;
	align-items: right;
  }
  
  .box {
	width: 520px;
	height: 600px;
	border-radius: 5px;
	box-shadow: 0 2px 30px rgba(black, .2);
	background: lighten(#f0f4c3, 10%);
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
  }
  
  .wave {
	opacity: .4;
	position: absolute;
	top: 3%;
	left: 50%;
	background: rgba(0, 170, 255, 0.911);
	width: 700px;
	height: 700px;
	margin-left: -250px;
	margin-top: -250px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	animation: drift 7000ms infinite linear;
  }
  
  .wave.-three {
	animation: drift 8000ms infinite linear;
  }
  
  .wave.-two {
	animation: drift 9000ms infinite linear;
	opacity: .1;
	background: rgb(102, 164, 180);
  }
  
  .box:after {
	content: '';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
	z-index: 11;
	transform: translate3d(0, 0, 0);
  }
  
  .title {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	line-height: 300px;
	text-align: right;
	transform: translate3d(0, 0, 0);
	color: white;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	letter-spacing: .4em;
	font-size: 24px;
	text-shadow: 0 1px 0 rgba(black, .1);
	text-indent: .3em;
  }
  @keyframes drift {
	from { transform: rotate(0deg); }
	from { transform: rotate(360deg); }
  }
h1 {
	color: cadetblue;
	padding: 0.5em 0;
	border-top: solid 3px #364e96;
	border-bottom: solid 3px #364e96;
}
